<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        https://www.springframework.org/schema/context/spring-context.xsd">
 
    <context:property-placeholder location="classpath:jdbc.properties"/>
    
    <!-- 注册数据源  C3P0数据源 -->
    <bean name="myDataSource" 
    	class="com.mchange.v2.c3p0.ComboPooledDataSource">
    	<property name="driverClass" value="${jdbc.driver}"/>
    	<property name="jdbcUrl" value="${jdbc.url}"/>
    	<property name="user" value="${jdbc.user}"/>
    	<property name="password" value="${jdbc.password}"/>
    </bean>
    
    <bean id="mySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="configLocation" value="classpath:mybatis-config.xml"></property>
    	<property name="datasource" value="myDataSource"></property>
    </bean>
   
	<!-- 注册dao -->
    <bean name="studentDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="sqlSessionFactory" ref="mySqlSessionFactory"/>
    	<property name="mapperInterface" ref="com.wmz.dao.StudentDao"/>
    </bean>
   
	<!-- 注册service -->
    <bean name="studentService" class="com.wmz.service.StudentServiceImpl">
    	<property name="dao" ref="studentDao"/>
    </bean>

</beans>